SIMBI_ENV=local
SIMBI_DATABASE_PATH=./data/simbi.db
SIMBI_FRONTEND_ORIGIN=http://localhost:5173
SIMBI_SESSION_HOURS=12
SIMBI_COOKIE_SECURE=false
SIMBI_RETENTION_DAYS=365
SIMBI_MAX_IMPORT_BYTES=1048576
